img[alt='logo'] {
  width: 15vw;
  display: block;
  height: auto;
  right: 30px;
  border-width: 3px;
  border-style: dotted;
  border-color: violet;
}

ul {
  width: 25vw;
  padding: 10px;
  background-color: cornflowerblue;
}
li {
  list-style-type: none;
  margin: 0px 10px;
}

button {
  width: 23vw;
  text-align: left;
}

/* image styling for later
img[alt='squirtle'],
img[alt='ivysaur'],
img[alt='charizard'] {
  width: 200px;
  height: 200px;
} */
