.logo {
  width: 20vw;
  display: block;
  height: auto;
  border-width: 3px;
  border-style: dotted;
  border-color: violet;
  position: fixed;
  right: 40vw;
  bottom: 40vh;
}

ul {
  width: 25vw;
  padding: 10px;
  background-color: cornflowerblue;
}
li {
  list-style-type: none;
  margin: 0px 10px;
}

button {
  width: 23vw;
  text-align: left;
}
