img[alt='logo'] {
  width: 200px;
  display: block;
  height: auto;
  right: 30px;
  border-width: 3px;
  border-style: dotted;
  border-color: violet;
}

img[alt='squirtle'],
img[alt='ivysaur'],
img[alt='charizard'] {
  width: 200px;
  height: 200px;
}

.pokechart {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: green;
  background-color: sandybrown;
  text-align: center;
}

/* p {
  color: green;
} */
